.container {
	border: 1px solid #000;
	background-color: #dcd;
	width: 1200px;
	height: 1800px;
	margin: 0 auto;
}
.tophome {
	background-color: #F5DEB3;
	width: 1190px;
	height: 50px;
	margin: 5px;
}
.banner {
	background-color: #87CEEB;
	width: 1190px;
	height: 450px;
	margin: 5px;
}
.menu {
	background-color: #FF69B4;
	width: 1190px;
	height: 80px;
	margin: 5px;
}
.conteudo {
	background-color: #ADFF2F;
	width: 1190px;
	height: 1000px;
	margin: 5px;
}
.rodape {
	background-color: #EE02EE;
	width: 1190px;
	height: 190px;
	margin: 5px;
}